<div class="card">
{{#name}}
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
{{#body}}
        {{{body}}}
{{/body}}
    </div>
{{/name}}
</div>

<div style="
    padding-top: 15px;
    {{#height}}
    height: {{height}}px;
    {{/height}}
    {{#width}}
    width: {{width}}px;
    {{/width}}
">
    <div id="rt-{{chatmd5}}"></div>
    <script src="https://rumbletalk.com/client/?{{code}}"></script>
</div>